<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= form_with model: @category, local: true do |f| %>
        <%= f.label :name, 'カテゴリー名'%>
        <%= f.text_field :name ,class:'form^control' %>
        <%= f.submit '登録', class:'btn' %>
      <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <table>
        <thead>
          <tr>
            <th>カテゴリー名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to '編集', edit_category_path(category) %></td>
              <td><%= link_to '削除', category_path(category), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>