<div>
  
<h3>投稿数の前日比・前週比</h3>
<table class ="table table-bordered">
  <thead>
    <tr>
      <th class = "text-nowrap">今日の投稿数</th>
      <th class = "text-nowrap">昨日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @today_book_count %></td>
      <td><%= @yesterday_book_count %></td>

       <% if @yesterday_book_count == 0 %>
         <td>前日の投稿が0のため計算できません</td>
       <% else %>
         <td><%= @day_before %>% </td>
       <% end %>
    </tr>
  </tbody>
</table>

<table class ="table table-bordered">
  <thead>
    <tr>
      <th class = "text-nowrap">今週の投稿数</th>
      <th class = "text-nowrap">先週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @week_book_count %></td>
      <td><%= @last_week_book_count %></td>

        <% if @last_week_book_count == 0 %>
          <td>先週の投稿が0のため計算できません</td>
        <% else %>
          <td><%= @week_before %>%</td>
        <% end %>

    </tr>
  </tbody>
</table>
</div>
