
<div class ="container px-5 px-sm-0">

  <div class="row">
    <div class ="col-md-3">

      <%= render'list',user:@user,book:@book %>
      <%= render 'users/follow_btn' , user:@user %>
      <%= render 'users/chat_btn' , user:@user %>
      <%= render 'books/newbook' , book:@book, categories:@categories %>

    </div>
    <div class ="col-md-8 offset-md-1">

  　　<div id="userbooks">
        <%=render 'users/userbooks' , user_books:@user_books %>
  　　</div>

      <%= render 'users/book_counts' %>

      <%= render 'users/week_book_counts'%>

      <%= render 'users/graph' %>

      <div>
        <%= form_with url: user_countsearch_path(@user) ,method: :get, local: false do |f| %>
          <%= f.date_field :created_at  %>
          <%= f.submit "検索" ,class: 'btn btn-primary'%>
        <% end %>
      </div>

        <div id="countsearch">

             <%= render 'users/count_search', book_counts:@book_counts %>

        </div>

    </div>
  </div>
</div>
